.khung{
    margin: 30px auto;
    background-color: #FFFDE7;
    border: #9E9E9E;
    text-align: center;
}
h1{
    color: #D40000;
    background-color:#FFD9E6;
    text-align: center;
}
.kho{
    font-style: italic;
}
.xanh{
    color: #0033CC;
}
.do{
    color: #D40000;
}
hr{
    width: 55%;
    margin: auto;
}